<mat-card class="card">
    <mat-card-header class="card-header">
        <mat-card-title>
            Buscar Miembro
        </mat-card-title>
    </mat-card-header>

    <div class="container">
        <mat-card class="container-table">
            <form>
                <mat-form-field floatLabel="auto" appearance="outline" class="buscarMiembro">
                    <mat-label>Nombre Miembro</mat-label>
                    <input type="text" matInput (keyup)="filtrarMiembros()" id="nombreMiembroFiltrado" name="nombreMiembroFiltrado" [(ngModel)]="nombreMiembroFiltrado">             
                </mat-form-field>
            </form>
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                <ng-container matColumnDef="avatar">
                    <th mat-header-cell *matHeaderCellDef width="60px"></th>
                    <td mat-cell *matCellDef="let element"><img [src]="element.avatarUrl?element.avatarUrl:defaultAvatar" class="img-miembro"/>
                    </td>
                </ng-container>

                <ng-container matColumnDef="nombre">
                    <th mat-header-cell *matHeaderCellDef> Nombre </th>
                    <td mat-cell *matCellDef="let element">{{element.nombres + " " +element.apellidos}} </td>
                </ng-container>

                <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef> Email </th>
                    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                </ng-container>

                <ng-container matColumnDef="seleccionar">
                    <th mat-header-cell *matHeaderCellDef> Seleccionar </th>
                    <td mat-cell *matCellDef="let element;">
                        <button mat-icon-button (click)="enviarMiembro(element)">
                            <mat-icon>done_outline</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </mat-card>
        <mat-paginator [pageSizeOptions]="[5]" showFirstLastButtons></mat-paginator>
    </div>       

</mat-card>