<div class="container">
    <div class="scroll">
        <div *ngIf="grupo" class="container-info">
                <p class="text">Nombre de Grupo:{{" "+grupo?.nombre}}</p>
                <p class="text">Día de Sesión: {{" "+grupo?.diaSesion}} </p>
                <p class="text">Hora de Sesión: {{" "+grupo?.horaSesion}}</p>
                <p class="text">Direccion de Sesión:{{" "+grupo?.direccionSesion}}</p>
        </div>
        <div class="container-btn">
            <mat-form-field class="margin-right">
                <mat-label>Grupo</mat-label>
                <mat-select [(ngModel)]="idGrupoSeleccionado" name="idGrupoSeleccionado" [disabled]="disabledSelect" (selectionChange)="filterSesiones()">
                    <mat-option *ngFor="let grupo of grupos" [value]="grupo.idGrupo">
                        {{grupo.nombre}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="margin-right">
                <mat-label>Año</mat-label>
                <mat-select [(ngModel)]="yearFilter" name="yearFilter" (selectionChange)="updateSesionesDataTable()">
                    <mat-option *ngFor="let year of selectYear" [value]="year">
                        {{year}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <button mat-raised-button color="primary" class="button-align" (click)="generateSesions()">Generar Programación</button>
        </div>
        <mat-card *ngIf="sesionesDataTable != null" class="container-table">
            <table mat-table [dataSource]="sesionesDataTable" class="mat-elevation-z8">


                <ng-container matColumnDef="fecha">
                    <th mat-header-cell *matHeaderCellDef> Fecha </th>
                    <td mat-cell *matCellDef="let element">{{element.fechaHora?.toDate() | date}} </td>
                </ng-container>

                <ng-container matColumnDef="horaSesion">
                    <th mat-header-cell *matHeaderCellDef> Hora </th>
                    <td mat-cell *matCellDef="let element"> {{element.fechaHora?.toDate() | date:'shortTime'}} </td>
                </ng-container>

                <ng-container matColumnDef="direccionSesion">
                    <th mat-header-cell *matHeaderCellDef> Dirección </th>
                    <td mat-cell *matCellDef="let element"> {{element.esVirtual? '-': element.direccion}} </td>
                </ng-container>

                <ng-container matColumnDef="lugarSesion">
                    <th mat-header-cell *matHeaderCellDef> Lugar </th>
                    <td mat-cell *matCellDef="let element"> {{element.esVirtual? '-': element.lugar}} </td>
                </ng-container>

                <ng-container matColumnDef="ubicacionSesion">
                    <th mat-header-cell *matHeaderCellDef> Ubicación </th>
                    <td mat-cell *matCellDef="let element"> <mat-icon class="no-click" color="primary" style="margin-left: 7px;">room</mat-icon></td>
                </ng-container>

                <ng-container matColumnDef="acciones">
                    <th mat-header-cell *matHeaderCellDef> Acciones </th>
                    <td mat-cell *matCellDef="let element;let i=index">
                        <button mat-icon-button [disabled]="getValidacionFechaPasada(element)"><mat-icon (click)="editSesion(element)">edit</mat-icon> </button>
                        <button mat-icon-button [disabled]="getValidacionFechaPasada(element)"><mat-icon (click)="deleteSesion(element.idSesion)">delete</mat-icon> </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns" ></tr>
                <tr mat-row [class.element-row]="getValidacionFechaPasada(row)" *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </mat-card>
    </div>
</div>