<div class="container">
    <div class="scroll">
        <div class="container-btn">
            <button *ngIf="usuario.esAdmin" mat-raised-button color="primary" class="button-align" (click)="addGrupo()">Agregar</button>
        </div>
        <mat-card class="container-table">
            <table mat-table [dataSource]="grupos" class="mat-elevation-z8">

                <ng-container matColumnDef="avatar">
                    <th mat-header-cell *matHeaderCellDef width="60px"></th>
                    <td mat-cell *matCellDef="let element" class="espacio-columna"><img [src]="element.avatarUrl?element.avatarUrl:defaultAvatarUrl" class="avatar-grupo" />
                    </td>
                </ng-container>

                <ng-container matColumnDef="nombre">
                    <th mat-header-cell *matHeaderCellDef> Nombre </th>
                    <td mat-cell *matCellDef="let element" class="espacio-columna">{{element.nombre}} </td>
                </ng-container>

                <ng-container matColumnDef="diaSesion">
                    <th mat-header-cell *matHeaderCellDef> Día Sesión </th>
                    <td mat-cell *matCellDef="let element"> {{element.diaSesion}} </td>
                </ng-container>

                <ng-container matColumnDef="direccionSesion">
                    <th mat-header-cell *matHeaderCellDef> Direccion de Sesión </th>
                    <td mat-cell *matCellDef="let element" class="espacio-columna"> {{element.direccionSesion}} </td>
                </ng-container>

                <ng-container matColumnDef="lugarSesion">
                    <th mat-header-cell *matHeaderCellDef> Lugar de Sesión </th>
                    <td mat-cell *matCellDef="let element" class="espacio-columna"> {{element.lugarSesion}} </td>
                </ng-container>

                <ng-container matColumnDef="horaSesion">
                    <th mat-header-cell *matHeaderCellDef> Hora de Sesión </th>
                    <td mat-cell *matCellDef="let element"> {{element.horaSesion}} </td>
                </ng-container>

                <ng-container matColumnDef="acciones">
                    <th mat-header-cell *matHeaderCellDef> Acciones </th>
                    <td mat-cell *matCellDef="let element;">
                        <mat-icon (click)="editGrupo(element)">edit</mat-icon>
                        <mat-icon *ngIf="usuario.esAdmin" (click)="deleteGrupo(element)">delete</mat-icon>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </mat-card>
    </div>
</div>