.container{
    height: 100%; 
    width: 100%;
}
.button-align
{
    color: white;
    margin-right:20px;
}
.container-btn
{
    width:80%; 
    text-align:end; 
    margin: 10px auto;
    min-width:800px
}
.mat-table
{
    width: 100%;
    min-width: 700px; 
}
.container-table
{
    width: 80%; 
    min-width: 800px;
    margin: 0 auto;
}
mat-icon:hover
{
    cursor: pointer;
}


